Repository tnahs/readstor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-cargo-check, rust-cargo-fmt, rust-cargo-test, rust-cargo-update

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        exclude: ^(data)
      - id: check-executables-have-shebangs
        exclude: ^(src|tests|data)
      - id: check-shebang-scripts-are-executable
        exclude: ^(src|tests|data)
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: rust-cargo-check
        name: run cargo check
        entry: cargo check
        pass_filenames: false
        language: system
        types: [rust]
      - id: rust-cargo-fmt
        name: run cargo format
        entry: cargo fmt -- --check
        pass_filenames: false
        language: system
        types: [rust]
      - id: rust-cargo-test
        name: run cargo clippy
        entry: >
          cargo clippy
            --all-targets
            --all-features
            -- -D warnings
        pass_filenames: false
        language: system
        types: [rust]
      - id: rust-cargo-test
        name: run cargo test
        entry: cargo test
        pass_filenames: false
        language: system
        types: [rust]
      - id: rust-cargo-update
        name: run cargo update
        entry: cargo update
        pass_filenames: false
        language: system
        files: ^(Cargo\.toml|Cargo\.lock|.*\.rs)$

chore: fix target homebrew tap
  .github/workflows/publish-homebrew.yml
Due: none

docs: update publishing release docs
  doc/publishing-a-release.md
Due: none

chore: bump version
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: rust-cargo-update

chore: use Homebrew naming convention
  .github/workflows/publish-homebrew.yml
Due: none

chore: update pre-commit config
  .pre-commit-config.yaml
Due: none

chore: update dependencies
  Cargo.lock
Due: rust-cargo-update

style: fix docstring formatting
  src/lib/process/post.rs
Due: rust-cargo-check, rust-cargo-fmt, rust-cargo-test, rust-cargo-update

docs: update todos
  TODO.md
Due: none

chore: update .gitignore
  .gitignore
Due: none

docs: fix links
  CHANGELOG.md
  README.md
  TODO.md
  book/src/intro/index.md
  book/src/templates/an-example-template.md
  book/src/templates/backlinks.md
  book/src/templates/configuration/names.md
  book/src/templates/context-reference/annotation.md
  book/src/templates/context-reference/book.md
  book/src/templates/context-reference/names.md
  book/src/templates/partial-templates.md
Due: none

docs: use relative links
  book/src/apple-books/ios/access-library.md
  book/src/apple-books/ios/archive-restore-library.md
  book/src/apple-books/ios/library-location.md
  book/src/apple-books/macos/archive-restore-library.md
  book/src/intro/commands.md
  book/src/intro/options/backup.md
  book/src/intro/options/export.md
  book/src/intro/options/filter.md
  book/src/intro/options/global.md
  book/src/intro/options/index.md
  book/src/intro/options/postprocess.md
  book/src/intro/options/preprocess.md
  book/src/intro/options/render.md
  book/src/intro/quickstart.md
  book/src/templates/an-example-template.md
  book/src/templates/backlinks.md
  book/src/templates/configuration/context-modes.md
  book/src/templates/configuration/index.md
  book/src/templates/configuration/names.md
  book/src/templates/configuration/structure-modes.md
  book/src/templates/configuration/template-groups.md
  book/src/templates/context-reference/annotation.md
  book/src/templates/context-reference/book.md
  book/src/templates/context-reference/index.md
  book/src/templates/context-reference/names.md
  book/src/templates/context-refernce/index.md
  book/src/templates/partial-templates.md
  book/src/templates/string-sanitization.md
Due: none

chore: add pre-commit config
  .pre-commit-config.yaml
Due: none

chore: add .gitignore
  .gitignore
Due: none

chore: address lints
  src/lib/render/utils.rs
Due: rust-cargo-check, rust-cargo-fmt, rust-cargo-test, rust-cargo-update

feat: read from iOS device
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  TODO.md
  book/src/apple-books/ios/access-library.md
  book/src/apple-books/ios/library-location.md
  book/src/apple-books/macos/archive-restore-library.md
  book/src/intro/options/backup.md
  book/src/intro/options/export.md
  book/src/templates/backlinks.md
  book/src/templates/configuration/structure-modes.md
  book/src/templates/string-sanitization.md
  scripts/test-readstor
  src/cli/app.rs
  src/cli/args.rs
  src/cli/config.rs
  src/cli/data.rs
  src/cli/defaults.rs
  src/cli/filter.rs
  src/cli/mod.rs
  src/lib/applebooks/ios/defaults.rs
  src/lib/applebooks/ios/mod.rs
  src/lib/applebooks/macos/defaults.rs
  src/lib/applebooks/macos/mod.rs
  src/lib/applebooks/mod.rs
  src/lib/backup/mod.rs
  src/lib/defaults.rs
  src/lib/export/mod.rs
  src/lib/filter/mod.rs
  src/lib/models/annotation.rs
  src/lib/models/book.rs
  src/lib/process/post.rs
  src/lib/process/pre.rs
  src/lib/render/engine.rs
  src/lib/render/renderer.rs
  src/lib/render/template.rs
  src/lib/result.rs
  src/lib/strings.rs
  src/main.rs
  tests/cli.rs
Due: rust-cargo-check, rust-cargo-fmt, rust-cargo-test, rust-cargo-update

chore: remove cargo update
  .pre-commit-config.yaml
Due: none

docs: manually run cargo update
  doc/publishing-a-release.md
Due: none

docs: reword, update formatting
  src/cli/args.rs
  src/lib/backup/mod.rs
Due: rust-cargo-check, rust-cargo-fmt, rust-cargo-test, rust-cargo-update

refactor: compact export functions
  src/lib/export/mod.rs
Due: rust-cargo-check, rust-cargo-fmt, rust-cargo-test, rust-cargo-update

deploy: 1c12a142fb2dbb9ff4d20f61362e19be0c0f1a37
  dev/apple-books/ios/access-library.html
  dev/apple-books/ios/library-location.html
  dev/apple-books/macos/archive-restore-library.html
  dev/intro/options/backup.html
  dev/intro/options/export.html
  dev/print.html
  dev/searchindex.js
  dev/searchindex.json
  dev/templates/backlinks.html
  dev/templates/configuration/structure-modes.html
  dev/templates/string-sanitization.html
Due: none

chore: add limobiledevice to ci
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

change escape chars
  scripts/apple-books/dump-headers.sh
  scripts/apple-books/macos-archive.sh
  scripts/apple-books/macos-restore.sh
  scripts/test-readstor
Due: none

fix: rsync unable to find src directories
  scripts/apple-books/macos-archive.sh
Due: none
